.greetingForm {
    display: flex;
    flex-direction: column;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}

.custom input {
    border-radius: 10px;
    padding: 10px;
    flex-basis: 30%;
    width: 100%;

}

input:focus{
}

.errorInput {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    outline: 2px solid  red;
}

.button {
    background-color: #03458a;
    border-radius: 5px;
    color: white;
    padding: 0 20px 0 20px;
    margin-left: 20px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: #448cd5;
    border-radius: 5px;
    color: white;
}

.text {
    margin-left: 40px;
    margin-top: 30px;
    color: grey;
}

.greeting {
    margin-bottom: 150px;
    margin-left: 40px;
    margin-top: 10px;
}

.custom {
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
}

