.button {
    padding: 5px 24px;
    margin: 10px 0px 10px 10px;
    border-radius: 4px;
    border: none;
    width: 125px;
}

.button:hover {
    width: 100%;
}

.disabled {
    background-color: #004D99;
    opacity: 0.5;
    color: #002E5C;
}

.secondary {
    background-color: white;
    border: 1px solid #0066CC;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
    color: white;
    margin-top: 20px;
}

.red {
    background-color: #CC1439;
    color: white;
}

.default:hover {
    background-color: #0080FF;
    width: 150px;
}

.red:hover {
    background-color: #FF1A47;
    width: 150px;
}

.secondary:hover {
    background-color: #E5F0FA;
    width: 150px;
}


.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
    width: 100px;
}

